<footer>
    <div class="social-container">
        <h3>Contact us</h3>
        <ul>
            <a rel="noreferrer noopener" href="https://github.com/Navaneeth-Nagesh"><li><i class="fa fa-github" aria-hidden="true"></i></li></a>
            <a rel="noreferrer noopener" href="https://www.facebook.com/navaneeth.nagesh"><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
            <a rel="noreferrer noopener" href="https://www.instagram.com/navaneeth_nagesh/"><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
        </ul>
        <span class="optional">or</span>
        <address>
                <a href="mailto:navaneethnagesh56@gmail.com">Mail to: Navaneethnagesh56@gmail.com</a>
        </address>
        <p>
            <small>copyright &copy; 2018</small>
        </p>
    </div>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="OwlCarousel-plugins/owl.carousel.min.js"></script>
<script src="script.js"></script>
<script src="carousel.js"></script>
</body>
</html>