    <% include partials/scroll-up %>
        <div class="body">
            <div class="triangle-right">
                <div class="square sq1"></div>
                <div class="square sq2"></div>
                <div class="square sq3"></div>
                <div class="square sq4"></div>
                <div class="square sq5"></div>
                <div class="square sq6"></div>
                <div class="square sq7"></div>
                <div class="square sq8"></div>
                <div class="square sq9"></div>
                <div class="square sq10"></div>
                <div class="square sq11"></div>
                <div class="square sq12"></div>
                <div class="square sq13"></div>
                <div class="square sq14"></div>
            </div>
            <div class="triangle-left">
                <div class="square sq1"></div>
                <div class="square sq2"></div>
                <div class="square sq3"></div>
                <div class="square sq4"></div>
                <div class="square sq5"></div>
                <div class="square sq6"></div>
                <div class="square sq7"></div>
                <div class="square sq8"></div>
                <div class="square sq9"></div>
                <div class="square sq10"></div>
            </div>
            <header class="header">
                <h1 class="title"><span class="colored">The</span> The technologies <span>we used</span></h1>
            </header>
            <div class="article-container">
                <div class="square-left">
                    <div class="square sq1"></div>
                    <div class="square sq2"></div>
                    <div class="square sq3"></div>
                    <div class="square sq4"></div>
                    <div class="square sq5"></div>
                </div>
                <div class="square-right">
                    <div class="square sq1"></div>
                    <div class="square sq2"></div>
                    <div class="square sq3"></div>
                    <div class="square sq4"></div>
                </div>
                <article class="article">
                    <h3 class="pink">
                        <a href="https://nodejs.org/en/" rel="noreferrer noopener" target="_blank"><img src="images/nodejs-logo.png" alt="nodejs-logo"></a>
                    </h3>
                    <h5>as our backend</h5>
                    <p>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.</p>
                </article>
                <article class="article">
                    <h3 class="blue">
                        <a href="https://expressjs.com/" rel="noreferrer noopener" target="_blank"><img src="images/Expressjs.png" alt="expressjs-logo"></a>
                    </h3>
                    <h5>as our backend framework</h5>
                    <p>Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs.</p>
                </article>
                <article class="article">
                    <h3 class="orange">
                        <a href="http://sass-lang.com/" rel="noreferrer noopener" target="_blank"><img src="images/sass-logo.png" alt="sass-logo"></a>
                    </h3>
                    <h5>for styling pages</h5>
                    <p> Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
                </article>
                <article class="article">
                    <h3 class="light-blue">
                        <a href="http://www.embeddedjs.com/" rel="noreferrer noopener" target="_blank"><img src="images/ejs-logo.png" alt="ejs-logo"></a>
                    </h3>
                    <h5>as our templating language</h5>
                    <p>"E" is for "effective." EJS is a simple templating language that lets you generate HTML markup with plain JavaScript. No religiousness about how to organize things. No reinvention of iteration and control-flow. It's just plain JavaScript.</p>
                </article>
                <article class="article">
                    <h3 class="pink">
                        <a href="https://www.mongodb.com/" rel="noreferrer noopener" target="_blank"><img src="images/mongoDB-logo.png" alt="mongodb-logo"></a>
                    </h3>
                    <h5>as our database</h5>
                    <p>MongoDB is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemas.</p>
                </article>
                <article class="article">
                    <h3 class="blue"><a href="https://github.com/ctavan/express-validator" rel="noreferrer noopener" target="_blank">Express js validator</a></h3>
                    <h5>it's an validator, we have used.</h5>
                    <p>An express.js middleware for node-validator. Contribute to express-validator development by creating an account on GitHub.</p>
                </article>
                <article class="article">
                    <h3 class="orange">
                        <a href="http://www.passportjs.org/" rel="noreferrer noopener"><img src="images/passportjs-logo.png" alt="passportjs-logo"></a>
                    </h3>
                    <h5>our authentication middleware.</h5>
                    <p>Passport is authentication middleware for Node.js. Extremely flexible and modular, Passport can be unobtrusively dropped in to any Express-based web application. A comprehensive set of strategies support authentication using a username and password, Facebook, Twitter, and more.</p>
                </article>
            </div>
        </div>