<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <div class="triangle-right">
        <div class="square sq1"></div>
        <div class="square sq2"></div>
        <div class="square sq3"></div>
        <div class="square sq4"></div>
        <div class="square sq5"></div>
        <div class="square sq6"></div>
        <div class="square sq7"></div>
        <div class="square sq8"></div>
        <div class="square sq9"></div>
        <div class="square sq10"></div>
        <div class="square sq11"></div>
        <div class="square sq12"></div>
        <div class="square sq13"></div>
        <div class="square sq14"></div>
    </div>
    <div class="triangle-left">
        <div class="square sq1"></div>
        <div class="square sq2"></div>
        <div class="square sq3"></div>
        <div class="square sq4"></div>
        <div class="square sq5"></div>
        <div class="square sq6"></div>
        <div class="square sq7"></div>
        <div class="square sq8"></div>
        <div class="square sq9"></div>
        <div class="square sq10"></div>
    </div>
    <header>
        <h1 class="title"><span class="colored">The</span> meaning behind <span>famous symbols</span></h1>
    </header>
    <div class="article-container">
       <div class="square-left">
           <div class="square sq1"></div>
           <div class="square sq2"></div>
           <div class="square sq3"></div>
           <div class="square sq4"></div>
           <div class="square sq5"></div>
           <div class="square sq6"></div>
       </div>
       <div class="square-right">
           <div class="square sq1"></div>
           <div class="square sq2"></div>
           <div class="square sq3"></div>
           <div class="square sq4"></div>
           <div class="square sq5"></div>
           <div class="square sq6"></div>
       </div>
        <article class="article">
            <h3 class="pink">caduceus</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="blue">Icythys</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="orange">all seeing eye</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="light-blue">peace sign</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="pink">swastika</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="blue">hammer and sickle</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="orange">evil eye</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="light-blue">yin yang</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="pink">pentagram</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="blue">the heart</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="orange">masonic square</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="light-blue">fluer de lis</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="pink">pi</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="blue">the phoenix</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
        <article class="article">
            <h3 class="orange">trinity knots</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem officia accusamus, perspiciatis animi blanditiis tenetur unde veniam alias adipisci inventore iure, quia maxime, libero ab. Accusantium, deleniti cumque facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quidem, reiciendis vero expedita ipsum ullam voluptatem aspernatur, minima laboriosam, fugiat impedit odit dignissimos odio quae id eaque recusandae a. Ea.</p>
        </article>
    </div>
<% include partials/footer %>