<% include partials/header %>
   <div class="upfold">
       <div class="upfold-content">
           <h2><span>we do care about your data</span></h2>
       </div>
   </div>
   <section class="features">
      <h2>Features</h2>
       <div class="feature-box">
         <div class="text-box">
             <h4>secured database</h4>
             <p>The database is well secured. you can access data as many times as you like.</p>
         </div>
           <img src="images/database.png" alt="database-image" class="feature-img">
       </div>
       <div class="feature-box">
          <img src="images/customer.png" alt="cusomer-support" class="feature-img">
           <div class="text-box">
               <h4>add customers data</h4>
               <p>Add data as much as you want. it's an unlimited data storage. the more you store the better is the deal.</p>
           </div>
       </div>
       <div class="feature-box">
         <div class="text-box">
             <h4>community support</h4>
              <p>Our community will be always be there to help you.</p>
         </div>
           <img src="images/community.png" alt="community" class="feature-img">
       </div>
       <div class="feature-box">
          <img src="images/helpline.png" alt="helpline" class="feature-img">
           <div class="text-box">
               <h4>customer support</h4>
               <p>we will be available 24/7, if there's any problem. our employee's will be happy to help you. <span>helpline-number : 000-000-000</span></p>
           </div>
       </div>
   </section>
   <section class="testimonials">
      <h2>testimonials</h2>
      <div class="carousel-cover">
          <div class="carousel-btn"><span id="next"><i class="fa fa-angle-right" aria-hidden="true"></i></span><span id="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></span></div>
           <div class="owl-carousel owl-theme owl-loaded">
           <div class="test-box">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta optio hic temporibus dignissimos a autem beatae repellat dolorem eum praesentium eius, officia, ipsam laborum eveniet similique explicabo perspiciatis perferendis alias. <span>- john cena</span></p>
           </div>
           <div class="test-box">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta optio hic temporibus dignissimos a autem beatae repellat dolorem eum praesentium eius, officia, ipsam laborum eveniet similique explicabo perspiciatis perferendis alias. <span>- Triple H</span></p>
           </div>
           <div class="test-box">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta optio hic temporibus dignissimos a autem beatae repellat dolorem eum praesentium eius, officia, ipsam laborum eveniet similique explicabo perspiciatis perferendis alias. <span>- the Rock</span></p>
           </div>
           </div>
      </div>
   </section>
    <% include partials/footer %>