<%- messages('message', locals) %>
   <h3 class="head">login form</h3>
    <div class="login-form">
        <form action="/users/login" method="POST">
            <fieldset>
                <label>username :<span><input type="text" name="usename" required></span></label>
                <label>password :<span><input type="password" name="password" required></span></label>
                <input type="submit" value="submit">
            </fieldset>
         </form>
    </div>