<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/users/login" method="POST">
            <fieldset>
                <label>email :<span><input type="email" name="email" required></span></label>
                <label>password :<span><input type="password" name="password" required></span></label>
                <input type="submit" value="submit">
            </fieldset>
            </form>
</body>
</html>