<div class="registration">
    <h1>registration form</h1>
    <form action="/users/register" method="POST">
        <fieldset>
            <label>first name : <span><input type="text" name="first_name" required></span></label>
            <label>last name : <span><input type="text" name="last_name" required></span></label>
            <label>username : <span><input type="text" name="username" required></span></label>
            <label>email :<span><input type="email" name="email" required></span></label><br>
            <label>password :<span><input type="password"  name="password" required></span></label>
            <label>Confirm password :<span><input type="password" name="password2" required></span></label>
            <input type="submit" value="submit">
        </fieldset>
    </form>
</div>